<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpg" %>
	</div>

	<div id="content">
		<h1> Party Streams</h1>
		<p>Welcome to the booking service for live party streams</p>
		<p>This service is premium service, and a trial will convince you
		Get your friends and family in, to share your very important and joyice moment with them<br>
		<strong>A single click on the provided URL will get you into the live party.</strong></p>
		<p>It is very easy to use. All you need is register with us and pay for the service you want<strong>And by
		way it happens to be very cheap! </strong> Find us on Facebook <a href="https://www.facebook.com>Facebook</a>
		or on Twitter <a href="https://twitter.com>Twitter</a> or even on Linkdin 
		<a href="https://www.linkedin.com>Linkedin</a>, and get first hand exclusive information about your service in your inbox by signing up for
		my newsletter <a href="https://www.party_streams.co.uk/"></a>.</p>
	</div>
</div>